/* You can add global styles to this file, and also import other style files */

input.ng-valid[required]{
    border-left: 5px solid #42A948;
}

input.ng-invalid{
    border-left: 5px solid #a94442;
}

.error{
    padding: 12px;
    background-color: rgba(200,0,0,0.2);
    color:red;
}